html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden
}

body {
	margin: 0px;
}

body,
td,
th {
	font-family: Arial, Helvetica, microsoft yahei, sans-serif;
	font-size: 12px;
	color: #505050
}

ul,
li,
ol {
	margin: 0px;
	padding: 0px;
	list-style: none
}

a {
	color: #505050;
	text-decoration: none;
}

#top {
	height: 50px;
	background: #006290;
	color: #FFF;
	font-size: 16px;
	line-height: 50px;
	padding-left: 20px;
}

#zsysmenu {
	position: relative;
	float: left;
	width: 200px;
	height: 100%;
	background: #1e7ca5;
	overflow: hidden
}

#zsysmenu ul {
	position: absolute;
	z-index: 100;
	margin-top: 50px;
}

#zsysmenu li {
	width: 120px;
	height: 50px;
	padding-left: 80px;
	padding-top: 16px;
	line-height: 18px;
	margin-top: 15px;
	cursor: pointer
}

#menua {
	color: #FFF;
	background-image: url(../img/msg.png);
	background-repeat: no-repeat;
	background-position: 18px center;
}

#menub {
	color: #FFF;
	background-image: url(../img/set.png);
	background-repeat: no-repeat;
	background-position: 18px center;
}

#menuc {
	color: #FFF;
	background-image: url(../img/api.png);
	background-repeat: no-repeat;
	background-position: 18px center;
}

#fsysmenu {
	position: absolute;
	right: -128px;
	width: 122px;
	height: 100%;
	background: #006290;
	border-left: 6px solid #006290;
	z-index: 1000;
}

#fsysmenu li {
	width: 102px;
	height: 40px;
	line-height: 40px;
	padding: 0px;
	padding-left: 20px;
	background: #006290;
	color: #FFF
}

#fmtop {
	width: 60px;
	height: 60px;
	background: url(../img/back.png);
	margin-top: 20px;
	margin-left: 30px;
	cursor: pointer
}

#sysmain {
	margin-left: 200px;
	height: 100%;
	background: #FFF;
	overflow: hidden
}

#mainfrm {
	width: 100%;
	height: 100%;
	border: 0px;
}