body {
    margin: 20px;
}

body,
th {
    border: 1px solid black;
    font-family: Arial, Helvetica, microsoft yahei, sans-serif;
    font-size: 12px;
    color: #505050;
}

.msg_right {
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 0px;
}

#mainName {
    float: left;
    font-size: 28px;
    line-height: 60px;
    margin-left: 20px
}

.wrapper {
    float: right;
    padding: 20px;
    width: 200px;
}

.wrapper .push_msg {
    float: left;
    /* display: inline;  */
    padding: 5px;
    background-color: #00a9ec;
    color: #FFF;
    cursor: pointer
}

.wrapper .back_msglist {
    float: right;
    margin-left: 20px;
    /* display: inline;  */
    padding: 5px;
    background-color: #00a9ec;
    color: #FFF;
    cursor: pointer
}

#push_order {
    border-top: 3px solid #00a9ec
}

#push_order td {
    background: #f0f0f0;
    border-bottom: 1px solid #CCC
}

#th td {
    background: #1e7ca5;
    color: #FFF
}